
<div class="container-fluid widget">
<div class="row">
<div class="col">
	<!--  -->
	<div class="card spinner-card"><div class="card-header"><h5>Loading Widget...</h5></div><div class="card-body"><div class="spinner-border text-danger d-block mx-auto"></div></div></div>
	<!--  -->
	<div class="card type-card collapsed-card"><div class="card-header"><h5>Device Type</h5></div><div class="card-body"><div class="row"><div class="col-sm-12">
		<div class="progress"><div class="progress-bar bg-danger" style="width:0%"></div></div></div></div><div class="row type-container"></div></div></div>
	<!--  -->
	<div class="card make-card collapsed-card"><div class="card-header"><h5>Device Manufacturer</h5></div><div class="card-body"><div class="row"><div class="col-sm-12">
		<div class="progress"><div class="progress-bar bg-danger" style="width:20%"></div></div></div></div><div class="row make-container"></div></div></div>
	<!--  -->
	<div class="card model-card collapsed-card"><div class="card-header"><h5>Device Model</h5></div><div class="card-body"><div class="row"><div class="col-sm-12">
		<div class="progress"><div class="progress-bar bg-danger" style="width:40%"></div></div></div></div><div class="row model-container"></div></div></div>
	<!--  -->
	<div class="card issue-card collapsed-card"><div class="card-header"><h5>Device Repair</h5></div><div class="card-body"><div class="row"><div class="col-sm-12">
		<div class="progress"><div class="progress-bar bg-danger" style="width:60%"></div></div></div></div><div class="row issue-container">
		<div class="col-sm-4 mt-3"><a href="#" style="height:100%" class="issue-btn btn btn-outline-danger d-block mx-auto">Rear Glass</a></div>
		<div class="col-sm-4 mt-3"><a href="#" style="height:100%" class="issue-btn btn btn-outline-danger d-block mx-auto">Battery</a></div>
		<div class="col-sm-4 mt-3"> <a href="#" style="height:100%" class="issue-btn btn btn-outline-danger d-block mx-auto">Front Camera</a></div>
		<div class="col-sm-4 mt-3"> <a href="#" style="height:100%" class="issue-btn btn btn-outline-danger d-block mx-auto">Rear Camera</a></div>
		<div class="col-sm-4 mt-3"> <a href="#" style="height:100%" class="issue-btn btn btn-outline-danger d-block mx-auto">Charge Port</a></div>
		<div class="col-sm-4 mt-3"> <a href="#" style="height:100%" class="issue-btn btn btn-outline-danger d-block mx-auto">Ear Speaker</a></div>
		<div class="col-sm-4 mt-3"> <a href="#" style="height:100%" class="issue-btn btn btn-outline-danger d-block mx-auto">Loud Speaker</a></div>
		<div class="col-sm-4 mt-3"> <a href="#" style="height:100%" class="issue-btn btn btn-outline-danger d-block mx-auto">LCD</a></div>
		<div class="col-sm-4 mt-3"> <a href="#" style="height:100%" class="issue-btn btn btn-outline-danger d-block mx-auto">Screen</a></div>
		<div class="col-sm-4 mt-3"> <a href="#" style="height:100%" class="issue-btn btn btn-outline-danger d-block mx-auto">Liquid Damage</a></div>
		<div class="col-sm-4 mt-3"> <a href="#" style="height:100%" class="issue-btn btn btn-outline-danger d-block mx-auto">Other</a></div>
	</div></div></div>
	<!--  -->
	<div class="card contact-card collapsed-card"><div class="card-header"><h5>Receive Quote</h5></div><div class="card-body"><div class="row"><div class="col-sm-12">
		<div class="progress"><div class="progress-bar bg-danger" style="width:80%"></div></div></div></div><div class="row contact-container"><form action="/api/getQuote" id='widget' method="POST">
		<input type="hidden" name="location" value=<%- JSON.stringify(data.store.name) %> required>
		<input type="hidden" class='formType' name="type" value="" required>
		<input type="hidden" class='formMake' name="make" value="" required>
		<input type="hidden" name="model" class='formModel' value="" required>
		<input type="hidden" name="issue" class="formIssue" value="" required>
		<input type="text" class='formModel form-control mt-3' name="modelDis" value="" disabled required>
		<label for="modelDis">Device Model</label>
		<input type="text" class='formIssue form-control mt-3' name="issueDis" value="" disabled required>
		<label for="issueDis">Device Repair</label>
		<!-- <textarea class='form-control' name="message" id="" rows="5" placeholder="Please describe the problem you are experiencing..."></textarea> -->
		<input required type="text" id='firstname' name="firstname" class="form-control mt-3" placeholder="Firstname" >
		<input required type="text" id='lastname' name="lastname" class="form-control mt-3" placeholder="Lastname" >
		<input required type="tel" id='phone' name="phone" id="" class="form-control phone mt-3" placeholder="Phone Number">
		<input required class='form-control mt-3' id='email' type="email" name="email" placeholder="Email">
		<div class="svgCaptcha"><%-captcha%></div> 
		<label for="captchaText">Refresh Captcha <a href="#new-captcha" id="newCaptcha" class="link-primary" alt="Refresh Captcha">&#x21bb;</a></label>
		<input type="text" name="captchaText" placeholder="Captcha Text" class="form-control">
		<p class='mt-3'>You will receive an email with your repair quote after submission.</p>
		<input type="submit" value="Get Quote!" id="send" class='btn btn-success btn-lg d-block mx-auto mt-3'>
	</form></div></div></div>
	<!--  -->
</div>
</div>
<!-- <div class="row mt-3"><div class="col-sm-3"></div><div class="col-sm-3"></div><div class="col-sm-3"></div><div class="col-sm-3"><a href="#" class="btn btn-warning mx-auto reset">Start Over</a></div></div> -->
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-lite.min.css" integrity="sha512-ZbehZMIlGA8CTIOtdE+M81uj3mrcgyrh6ZFeG33A4FHECakGrOsTPlPQ8ijjLkxgImrdmSVUHn1j+ApjodYZow==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-lite.min.js" integrity="sha512-lVkQNgKabKsM1DA/qbhJRFQU8TuwkLF2vSN3iU/c7+iayKs08Y8GXqfFxxTZr1IcpMovXnf2N/ZZoMgmZep1YQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
$(document).ready(function(){
	$('#newCaptcha').click(()=>{
		$.get('/api/newCaptcha').then(res=>{
			$('.svgCaptcha').html(res)
		})
	})
	$('#contactForm').attr("action","/contact");
	$('#summernote').summernote()
	$('span.note-icon-caret').remove();
    $('.curtain').hide().delay(1000)
    $('.btn-close-widget').click(()=>{
        $('.widget-link').fadeOut('fast')
    })
	var deviceList = []
	var formData = {}
	var URI = window.location.href
	if(URI.includes('location') || URI=='http://localhost:3000/' || URI==process.env.HOST_URL) loadDevices()
	$('.reset').click(()=>{
		loadDevices()
		$('.type-container').html("")
		$('.make-container').html("")
		$('.model-container').html("")
		$('.card').hide();
		$('.spinner-card').show();
	})
	$('body').on('click', '.type-btn', function(e) {
		formData.type= this.innerHTML
		$('.formType').val(this.innerHTML)
		var makes = []
		for(i=0;i<deviceList.length;i++) deviceList[i].type==formData.type ? makes.push(deviceList[i].make) : null
		makes.filter((v, i, a) => a.indexOf(v) === i).forEach((make => $('.make-container').append(`<div class="col-sm-3 mt-3"><a href="#" style="height:100%" class="make-btn btn btn-outline-danger d-block mx-auto">${make}</a></div>`)))
		$('.type-card').slideUp()
		$('.make-card').slideDown()
	});
	$('body').on('click', '.make-btn', function(e) {
		formData.make= this.innerHTML
		$('.formMake').val(this.innerHTML)
		var models = []
		for(i=0;i<deviceList.length;i++) (deviceList[i].type==formData.type&&deviceList[i].make==formData.make) ? models.push(deviceList[i].model) : null
		models.filter((v, i, a) => a.indexOf(v) === i).forEach((model => $('.model-container').append(`<div class="col-sm-3 mt-3"><a href="#" style="height:100%" class="model-btn btn btn-outline-danger d-block mx-auto">${model}</a></div>`)))
		$('.make-card').slideUp()
		$('.model-card').slideDown()
	})
	$('body').on('click', '.model-btn', function(e) {
		formData.model= this.innerHTML
		$('.formModel').val(this.innerHTML)
		$('.model-card').slideUp()
		$('.issue-card').slideDown()
	})
	$('body').on('click', '.issue-btn', function(e) {
		formData.issue= this.innerHTML
		$('.formIssue').val(this.innerHTML)
		$('.issue-card').slideUp()
		$('.contact-card').slideDown()
	})
	$('body').on('submit','#widget',function(e){
		$('.contact-card').slideUp()
		$('.spinner-card').slideDown()
	})
	function loadDevices(){
		$.get("/api/loadSheet",data =>{
			var devices = []
			var types = []
			for(i=0;i<data.length;i++){
							devices.push(data[i])
							types.push(data[i].type)
			}
			deviceList = devices;
			types.filter((v, i, a) => a.indexOf(v) === i).forEach(type=> $('.type-container').append(`<div class="col-sm-3 mt-3"><a href="#" style="height:100%" class="type-btn btn btn-outline-danger d-block mx-auto">${type}</a></div>`))
			$('.spinner-card').slideUp()
			$('.type-card').slideDown()
		})
	}
});

</script>